@font-face {
  font-family: "CircularSP";
  src: url("/fonts/CircularSp-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CircularSP";
  src: url("/fonts/CircularSp-Book.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularSPTitle";
  src: url("/fonts/CircularSpTitle-Bold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  .metadata {
    @apply flex items-center leading-normal;
  }

  .metadata:not(:first-child)::before {
    content: "•";
    @apply mx-2 inline-block text-[8px] leading-4;
  }

  .media-card {
    @apply cursor-pointer rounded-md bg-gray-400 bg-opacity-10 transition-all hover:scale-[102.5%] hover:bg-opacity-20;
  }

  .slider {
    -webkit-appearance: none;
    -webkit-transition: 0.25s;
    @apply h-1 rounded-md bg-gray-400 bg-opacity-60 outline-none transition-all;
  }

  .slider:hover::-webkit-slider-thumb {
    display: block;
  }

  .slider::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    @apply h-3 w-3 rounded-full bg-white;
  }

  .slider::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    @apply h-3 w-3 rounded-full bg-white;
  }
}
